{
	"singleQuote": true,
	"arrowParens": "avoid",
	"semi": false,
	"printWidth": 80,
	"proseWrap": "always",
	"tabWidth": 2,
	"useTabs": true,
	"objectWrap": "preserve",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"^(react(-.*)?$)|(react/(.*)$)|^(react$)",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^~/components/ui/(.*)$",
		"^~/components/(.*)$",
		"^~/hooks/(.*)$",
		"^~/lib/(.*)$",
		"^~/routes/(.*)$",
		"",
		"^[.]"
	]
}
