/* Basic editor styles */
.tiptap {
	p.is-empty::before {
		content: attr(data-placeholder);
		position: absolute;
		color: hsl(var(--muted-foreground));
		font-size: var(--text-base);
		float: left;
		height: calc(var(--spacing) * 0);
		opacity: 0.8;
		pointer-events: none;
		user-select: none;
	}

	/* Task list specific styles */
	// https://tiptap.dev/docs/editor/extensions/nodes/task-list
	// https://github.com/tailwindlabs/tailwindcss-typography/blob/main/src/styles.js#L124-L126
	ul[data-type='taskList'] {
		list-style-type: none;
		padding-inline-start: 0.2em;

		li {
			display: flex;
			align-items: flex-start;

			> label {
				flex: 0 0 auto;
				margin-right: 1rem;
				user-select: none;
			}

			> div {
				flex: 1 1 auto;
				padding-inline-start: em(6, 14);

				> p {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}

		input[type='checkbox'] {
			cursor: pointer;
		}

		ul[data-type='taskList'] {
			margin: 0;
		}
	}

	/* For ColorHighlighter Extension */
	// https://tiptap.dev/docs/examples/advanced/clever-editor
	.color {
		white-space: nowrap;

		&::before {
			background-color: var(--color);
			border: 1px solid hsl(var(--muted-foreground));
			border-radius: 1px;
			content: ' ';
			display: inline-block;
			height: 0.8em;
			margin-bottom: 0.15em;
			margin-right: 0.1em;
			vertical-align: middle;
			width: 0.8em;
		}
	}
}
